body {
    background-image: url(../derechos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

#root {
    border-width: 1rem;
    border-style: outset;
    border-color:  rgba(9, 133, 46, 0.479);
    background-color: transparent;
    border-radius: 5rem;
    text-align: center;
    
}

h1 {
    font-style: italic;
    margin: 0%;
    padding: 0%;
}

h3 {
    margin: 0%;
    padding: 0%;
}

div {
    padding: 2%;
}
blockquote {
    border-width: 1rem;
    border-style: dotted;
    border-color:  rgba(9, 133, 46, 0.479);
    background-color: rgba(81, 146, 116, 0.295);
    border-radius: 2rem;
    width: 27%;
}
#inicio {
    text-align: justify;
}

#datos {
    text-align: center;
    position: absolute;
    left: 33%;
    top: 25%;
}

#final {
    text-align: center;
    position: absolute;
    left: 66%;
    top: 25%;
}
